<ion-view view-title="Charts">
    <ion-content>
        <idv class="row">
        	<div class="col">
            <canvas id="pie" chart-legend="true" chart-options="moviesDecades.options" class="chart chart-pie" chart-data="moviesDecades.counts" chart-labels="moviesDecades.decades" chart-legend="true">
            </canvas>
            <canvas id="bar" class="chart chart-bar" chart-series="series" chart-data="data" chart-labels="moviesDecades.decades">
            </canvas>
            </div>
        </idv>
    </ion-content>
</ion-view>