<ion-view view-title="{{viewName}}">
    <ion-content class="padding" lazy-scroll>
        <div class="list card"   ng-repeat="movie in movies">
            <div class="item item-avatar">
                <h2>{{::movie.title}}</h2>
                <h3><a target="blank" href="http://www.imdb.com/name/{{::director.nameId}}/" ng-repeat="director in ::movie.directors">{{::director.name}}<span ng-if="!$last">, </span></a></h3>
                <p>
                    {{::movie.year}} - 
                    <span ng-repeat="country in ::movie.countries">{{::country}}<span ng-if="!$last">, </span></span>
                </p>
            </div>
            <div class="item item-body">
                <img class="full-image" image-lazy-src="http://alina.1gb.ua/posters/{{::movie.idIMDB}}.jpg" image-lazy-loader="lines" >
                <p>
                    {{::movie.simplePlot}}
                </p>
                <p>
                    <span>Rating: {{::movie.rating}}</span> 
                </p>
                <p>
                    Genres: <span ng-repeat="genre in ::movie.genres">{{::genre}}<span ng-if="!$last">, </span></span>
                </p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item favorite-item" ng-class="{'active': movie.favorite}" ng-click="favoriteChange(movie);" >
                    <i class="icon ion-ios-star" ></i> Favorite
                </a>
                <a class="tab-item" ng-click="openModal(movie)" >
                    <i class="icon ion-film-marker" ></i> Trailers
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>