<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Top 20" icon-off="ion-ios-film" icon-on="ion-ios-film" href="#/tab/top">
    <ion-nav-view name="tab-top"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Favorite" icon-off="ion-ios-star" icon-on="ion-ios-star" href="#/tab/favorites">
    <ion-nav-view name="tab-favorites"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Charts" icon-off="ion-pie-graph" icon-on="ion-pie-graph" href="#/tab/charts">
    <ion-nav-view name="tab-charts"></ion-nav-view>
  </ion-tab>


</ion-tabs>
