<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">{{::currentVideo.title}}</h1>
      <a ng-click="closeModal()">X</a>
    </ion-header-bar>
    <ion-content>
    {{currentVideo.trailerUrl}}
     <iframe width="100%" height="480" src="{{trustSrc(currentVideo.trailer.trailerUrl)}}" frameborder="0" allowfullscreen></iframe>
    </ion-content>
  </ion-modal-view>